  <div class="max-w-sm w-full lg:max-w-full lg:flex mt-6 w-9/12" style="width: 55%">
    <div class="bg-indigo-600 rounded-b-md border border-transparent" style="height:20px">
    </div>
    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal" style="min-height: 150px;">
      <div class="mb-8">
        <div class="font-mono text-gray-900 font-bold text-4xl mb-2"><%=content%></div>
      </div>
    </div>
  </div>