<div class="flex flex-row gap-2 ml-6 mt-6 shadow-md justify-between max-w-sm w-9/12 ">
    <div class="flex flex-col bg-white shadow p-2 border-t-4 border-green-600 rounded basis-3/5 max-w-sm w-full lg:max-w-full lg:flex w-9/12" style="overflow:overlay"">
        <header class="p-2 border-b flex"> 
            <div class="flex flex-col max-w-sm w-full lg:max-w-full lg:flex w-9/12">
                <h1 class="text-lg font-mono text-green-600 max-w-sm w-full lg:max-w-full lg:flexw-9/12" style="overflow-wrap: break-word;""> <%=group.title %></h1>
            </div>
        </header>
        <div class="flex flex-wrap p-2 w-full gap-4">
            <div class="flex flex-col w-full">
                <h1 class="text-lg">Last activity <% group.last_activity %> days ago</h1>
            </div>

            <div class="flex flex-col">
                <h1 class="text-md"><%= group.total_members %> Members</h1>
            </div>

            <div class="flex flex-col">
                <h1 class="text-md font-thin"> <%= group.total_posts %> Posts</h1>
            </div>
        </div>
    </div>
    <div class='flex items-center mr-10 basis-2/5'>
            <div class='flex bg-white border-solid rounded-3xl border-green-600 px-8 py-4 mb-4 w-28 mx-16' style="
                border: solid;
                border-color: green;"
            >
                <div class="ml-2">
                    <i class="fa fa-check"></i>
                </div>
            </div>
        </div>
</div>
