<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Edit group</h1>
  <%= render TurboModalComponent.new(title: "New Group!") do %>
    <%= render "form", group: @group,title: "Edit Group", button: "Save" %>
  <% end %>
</div>
